{% extends "base.html" %}

{% block title %}Listado de Reportes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Listado de Reportes</h2>
    {% if reports %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Reporte</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ report[0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No hay reportes disponibles.</p>
    {% endif %}
</div>
{% endblock %}
